<h1> About Me</h1>

<div class='span2'>
	<img src="<%= image_path("games/winner.gif") %>">
</div>

<div class='span10'>
	<p>Hi, my name is Ronny Hoesada</p>
	<p>I'm a BEWD student at General Assembly</p>
	<p>I'm learning to build rails apps</p>
	<p><a href="mailto:rhoesada@gmail.com">Email Me</a></p>
</div>