<h1>Welcome to the Game Center!</h1>
<p>Choose a game below to get started</p>

<div class="row">
	<div class="span6">
		<div>
			<a href="<%= secret_numbers_path %>"><img src="<%= image_path("games/secret-number.jpg") %>"></a>
		</div>
		Secret Number
	</div>

	<div class="span6">
		<div>
			<a href="<%= rock_paper_scissors_path %>">
			<img src="<%= image_path("games/rock-paper-scissors.jpg") %>">
			</a>
		</div>
		Rock Paper Scissors
	</div>
</div>