<h1>Welcome to the Game Center!</h1>
<p>Choose a game below to get started</p>

<div class="row">
	<div class="span6">
		<div>
			<img src="<%= image_path("games/secret-number.jpg") %>">
		</div>
		Secret Number
	</div>

	<div class="span6">
		<div>
			<img src="<%= image_path("games/rock-paper-scissors.jpg") %>">
		</div>
		Rock Paper Scissors
	</div>
</div>