<a href = "%= root_path %"><h1>All the shirts!</h1></a>

<ul>
	<% @shirts.each do |shirt| %>
	<li>
		<h2><%= shirt.name %></h2>
	</li>
		<p><%= shirt.description %></p>
		<img src="<%= image_path(shirt.image) %>">
	<% end %>
</ul>